body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #333; /* Dark header background color */
    color: #fff; /* Light header text color */
    padding: 20px 0;
    text-align: center;
}

.logo img {
    width: 150px; /* Adjust the logo width as needed */
    height: auto; /* Maintain aspect ratio */
}

.title {
    margin-top: 10px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333; /* Dark main content background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quiz-container {
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555; /* Dark button background color */
    color: #fff; /* Light button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #777; /* Dark hover button background color */
}

#feedback {
    font-weight: bold;
    text-align: center;
    color: #fff; /* Light feedback text color */
}

#score {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #fff; /* Light score text color */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    backgrou
